__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

#ignroe following big files
datasets/
experiments/checkpoints/*imagenet*/
statistics/*imagenet*/
