#ignroe following big files
.DS_Store
Thumbs.db
datasets/
__pycache__/*

#scripts
scripts/.DS_Store
scripts/CIFAR-10/.DS_Store
scripts/CIFAR-10/ResNet18/.DS_Store
scripts/CIFAR-10/ResNet34/.DS_Store
scripts/CIFAR-10/DesnseNet101/.DS_Store
scripts/CIFAR-100/.DS_Store
scripts/CIFAR-100/ResNet18/.DS_Store
scripts/CIFAR-100/ResNet34/.DS_Store
scripts/CIFAR-100/DesnseNet101/.DS_Store
scripts/ImageNet/.DS_Store
scripts/ImageNet/ResNet34/.DS_Store
scripts/ImageNet/ResNet50/.DS_Store
scripts/ImageNet/MobileNet-v2/.DS_Store

#utils
utils/.DS_Store
utils/__pycache__/*.pyc

#model
experiments/model/.DS_Store
experiments/model/__pycache__/*
experiments/checkpoints/*imagenet*/
experiments/statistics/

#results
experiments/results/.DS_Store
experiments/results/densenet101/.DS_Store
experiments/results/densenet101/CIFAR-10/.DS_Store
experiments/results/densenet101/CIFAR-10/ASH/.DS_Store
experiments/results/densenet101/CIFAR-10/DICE/.DS_Store
experiments/results/densenet101/CIFAR-10/ReAct/.DS_Store
experiments/results/densenet101/CIFAR-10/ReAct+DICE/.DS_Store
experiments/results/densenet101/CIFAR-10/baseline/.DS_Store
experiments/results/densenet101/CIFAR-10/baseline/msp/.DS_Store
experiments/results/densenet101/CIFAR-10/baseline/energy/.DS_Store
experiments/results/densenet101/CIFAR-100/.DS_Store
experiments/results/densenet101/CIFAR-100/ASH/.DS_Store
experiments/results/densenet101/CIFAR-100/DICE/.DS_Store
experiments/results/densenet101/CIFAR-100/ReAct/.DS_Store
experiments/results/densenet101/CIFAR-100/ReAct+DICE/.DS_Store
experiments/results/densenet101/CIFAR-100/baseline/.DS_Store
experiments/results/densenet101/CIFAR-100/baseline/msp/.DS_Store
experiments/results/densenet101/CIFAR-100/baseline/energy/.DS_Store

experiments/results/.DS_Store
experiments/results/resnet18/.DS_Store
experiments/results/resnet18/CIFAR-10/.DS_Store
experiments/results/resnet18/CIFAR-10/ASH/.DS_Store
experiments/results/resnet18/CIFAR-10/DICE/.DS_Store
experiments/results/resnet18/CIFAR-10/ReAct/.DS_Store
experiments/results/resnet18/CIFAR-10/ReAct+DICE/.DS_Store
experiments/results/resnet18/CIFAR-10/baseline/.DS_Store
experiments/results/resnet18/CIFAR-10/baseline/msp/.DS_Store
experiments/results/resnet18/CIFAR-10/baseline/energy/.DS_Store
experiments/results/resnet18/CIFAR-100/.DS_Store
experiments/results/resnet18/CIFAR-100/ASH/.DS_Store
experiments/results/resnet18/CIFAR-100/DICE/.DS_Store
experiments/results/resnet18/CIFAR-100/ReAct/.DS_Store
experiments/results/resnet18/CIFAR-100/ReAct+DICE/.DS_Store
experiments/results/resnet18/CIFAR-100/baseline/.DS_Store
experiments/results/resnet18/CIFAR-100/baseline/msp/.DS_Store
experiments/results/resnet18/CIFAR-100/baseline/energy/.DS_Store

experiments/results/.DS_Store
experiments/results/resnet34/.DS_Store
experiments/results/resnet34/CIFAR-10/.DS_Store
experiments/results/resnet34/CIFAR-10/ASH/.DS_Store
experiments/results/resnet34/CIFAR-10/DICE/.DS_Store
experiments/results/resnet34/CIFAR-10/ReAct/.DS_Store
experiments/results/resnet34/CIFAR-10/ReAct+DICE/.DS_Store
experiments/results/resnet34/CIFAR-10/baseline/.DS_Store
experiments/results/resnet34/CIFAR-10/baseline/msp/.DS_Store
experiments/results/resnet34/CIFAR-10/baseline/energy/.DS_Store
experiments/results/resnet34/CIFAR-100/.DS_Store
experiments/results/resnet34/CIFAR-100/ASH/.DS_Store
experiments/results/resnet34/CIFAR-100/DICE/.DS_Store
experiments/results/resnet34/CIFAR-100/ReAct/.DS_Store
experiments/results/resnet34/CIFAR-100/ReAct+DICE/.DS_Store
experiments/results/resnet34/CIFAR-100/baseline/.DS_Store
experiments/results/resnet34/CIFAR-100/baseline/msp/.DS_Store
experiments/results/resnet34/CIFAR-100/baseline/energy/.DS_Store

experiments/results/.DS_Store
experiments/results/mobilenetv2_imagenet/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ASH/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/DICE/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ReAct/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/energy/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ASH/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/DICE/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ReAct/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/mobilenetv2_imagenet/ImageNet-1K/baseline/energy/.DS_Store

experiments/results/.DS_Store
experiments/results/resnet_imagenet34/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ASH/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/DICE/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ReAct/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/energy/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ASH/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/DICE/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ReAct/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/resnet_imagenet34/ImageNet-1K/baseline/energy/.DS_Store

experiments/results/.DS_Store
experiments/results/resnet_imagenet50/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ASH/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/DICE/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ReAct/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/energy/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ASH/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/DICE/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ReAct/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/ReAct+DICE/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/msp/.DS_Store
experiments/results/resnet_imagenet50/ImageNet-1K/baseline/energy/.DS_Store